<!-- /.carousel -->
<section class="carssoul">
  <!-- /.nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img class="logo" src="../assets/images/Web/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <button type="button" class="btn btn-link">FR|EN</button>
        <button type="button" id="inscriptionbutton" class="btn btnlogin btn-outline-default loginbutton" data-toggle="modal" data-target="#modalInscription">
          Inscription
        </button>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalLogin">
          Connexion
        </button>
      </ul>
    </div>
  </nav>
  <!-- /.nav -->
  <div class="jumbotron text-center">
    <h1 class="animated zoomIn">Vos plats sains adoptés à vos contraintes </h1>
    <h1 class="animated zoomIn">livrés où vous le souhaitez</h1>
    <form id="searchform">
      <div class="input-group">
        <input type="email" class="form-control inputsearch col-lg-6" size="30" placeholder="Saisir votre adresse de livraison" required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-success btn-lg fa-search" id="btnsearch">
            <span class="glyphicon glyphicon-search"></span>Chercher</button>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- /.carousel -->
<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">

  <br>
  <div class="row slideanim">
    <div class="col-sm-4 animated fadeInLeft">
      <img src="../assets/images/Web/plat_icon.png" class="section1image">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4 class="textdescription">Choisissez Vos Plats <br> Préférés</h4>
      <p>Choisissez Vos Plats Préféré et commandez en ligne sur le web ou sur le mobile. Vous pouvez même personnaliser vos
        plats selon vos envies et contraintes. </p>
    </div>
    <div class="col-sm-4 animated fadeInUp">
      <img src="../assets/images/Web/livraison_icon.png" class="section1image">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4 class="textdescription">Les Plats Sont Livrés Où<br> Vous Le Souhaitez</h4>
      <p>Les plats sont soignement préparés par vos restaurants et chefs préférés et livrés où vous les souhaitez. </p>
    </div>
    <div class="col-sm-4 animated fadeInRight">
      <img src="../assets/images/Web/plat.png" class="section1image">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4 class="textdescription">Profitez D'une Nourriture<br> Sains Sans Efforts </h4>
      <p>Pas D'efforts de Cuisine Ni De Nettoyage . Profitez De Vos Plats Soins Avec Vos Amis Et Votre Famille

      </p>
    </div>
  </div>
</div>
<!-- Container (Services Section) -->

<div class="container-fluid text-center description">
  <div class="row">
    <div class="col-8">
      <h3>+ Plus Que 20.000 restautrants</h3>
      <p>
        Les Restaurants en France ,Par Type de cuisine , gamme, ....
      </p>
    </div>
    <div class="col-4">
      <button id="viewbutton" class="btn btnlogin btn-outline-default"> Voir Tous Les Restos</button>
    </div>
  </div>
  <p>
  </p>
</div>
<!-- /.container -->
<div class="container-fluid text-center" id="section4">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 text">
      <h3>Choisissez Vos Plats Préféré et commandez en ligne sur le web ou sur le mobile.</h3>
      <h3> Vous pouvez même personnaliser vos plats selon vos envies et contraintes. </h3>
    </div>
    <div class="col-2"></div>
  </div>
  <p>
  </p>
</div>
<!-- /.section4 -->
<!-- section5 -->
<div class="container-fluid text-center" id="section5">
  <h3 id="title"> Travailler avec Fooderise</h3>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="card">
        <img src="../assets/images/Web/Partenaire image.jpg" />
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../assets/images/Web/Teamimage.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h1>Carrières</h1>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption d-none d-md-block">
                <h1>Carrières</h1>
              </div>
              <img class="d-block w-100" src="../assets/images/Web/Teamimage.jpg" alt="Second slide">

            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../assets/images/Web/Teamimage.jpg" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h1>Carrières</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

</div>
<!-- /.section5 -->
<!-- .section6 -->
<div class="container-fluid text-center" id="section6">
  <div class="row">
    <div class="col-sm-3"></div>
    <img src="../assets/images/Web/appMobile.png" class="phone animated fadeInLeft">
    <div class="col-sm-6" id="appmobiledownlowd">
      <h3 class="downloadtext">Télecharger L'application </h3>
      <p>
        Pas D'efforts de cuisine ni de nettoyage . Profitez de vos plats sains avec vos amis et votre famille.
      </p>
      <div class="input-group">
        <div class="input-group-btn">
          <img class="downloadapp" src="../assets/images/Web/android.png" alt="Snow">
          <img class="downloadapp" src="../assets/images/Web/ios.png" alt="Snow">
        </div>
      </div>
    </div>
  </div>
  <p>
  </p>
</div>
<!-- /.section6 -->

<!-- /.section7 -->
<div class="container-fluid text-center" id="section7">
  <div class="row footer">
    <div class="col-sm-3">
      <img src="../assets/images/Web/logo.png" id="logofooter">
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <p id="footerText">@2018 Fooderise Tous droits réservés</p>
    </div>
  </div>
  <p>
  </p>
</div>


<!-- The Modal of Inscription -->
<div class="modal fade" id="modalInscription">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Inscription</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" id="modal-inscription-body">
        <div class="row">
          <div class="col-md-12 col-md-offset-12">
            <app-inscription></app-inscription>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal of Inscription -->
<div class="modal fade" id="modalLogin">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" id="modal-login-body">
        <div class="row">
            <img src="../assets/images/Web/logo.png" class="imgmodal" >
          <div class="col-md-12 col-md-offset-12">
            <div class="form-body">
              <app-login></app-login>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
